

.button{
    
    border-radius: 3px;
    margin: 10px;
    
  }

.edit-header-layout{
    display: flex;  
    flex-direction: column;
    /*border: 2px solid blue;*/
    /*display: flex; 
    align-content:stretch;*/
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    box-sizing: border-box; 
    border: 1px solid #d0d0d0;   
    border-radius: 5px;
 
 }
 
 .header-row{ 
    display: flex;  
    align-items: center;
    padding: 0px;
    
    /*margin: 5px;*/
    
    /*background-color: aqua;*/
 }  

 /* El pdding de los controles pero no tiene efecto WHY???*/
 .mdc-text-field{
   padding: 0 6px;

 }

 .input-autocomplete {
  width: 150px;
  margin-left: 10px;
  margin-top: 19px;   
}

 .input-text-width {
   width: 150px;
   margin-left: 10px;
   margin-top: 19px;   
 }

 .input-number-width {
  width: 80px;
  
  margin-left: 10px;
  margin-top: 19px;   
}


 .spacer {
  flex: 1 1 auto; 
   }

.gender-toggle{
  border-radius: 5px;
  max-height: 45px;
  margin-left: 10px;
 /* margin-top:5px*/

}   

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
